body {
  font-family: 'Lato', sans-serif;
}

.border {
  border: 1px solid #ddd;
}

#site-heading {
  width: 100%;
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu {
  padding-top: 2rem;
}

.menu ul li {
  display: inline-block;
  line-height: 1rem;
  padding: 0.5rem;
}

#main-content {
  background: no-repeat center url('images/4him-family.jpg');
  background-size: cover;
  height: 500px;
  width: 100%;
}

