body {
  font-family: 'Lato', sans-serif;
}

.border {
  border: 1px solid #ddd;
}

#site-heading {
  width: 100%;
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu {
  padding-top: 2rem;
}

.menu ul li {
  display: inline-block;
  line-height: 1rem;
  padding: 0.5rem;
}

#main-content {
  background: no-repeat center url('images/4him-family.jpg');
  background-size: cover;
  height: 500px;
  width: 100%;
}

/* The Overlay (background) */
.overlay {
  /* Height and width depend on how you want to reveal the overlay (see JS) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  right: 0;
  top: 0;
  background-color: rgb(0,0,0);
  /* fallback color */
  background-color: rgba(0,0,0,0.9);
  /* black with opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width depending on the reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  text-align: center;
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 4vw;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.opennav {
  font-size: 3vw;
  cursor: pointer;
}